<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>NodeJS santa-app</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <h1> Hello Santa</h1>
      
      <form method="post">
        What do you want for christmas?
        <br>
        <input name="username" placeholder="charlie.brown" />
        <br>
        <textarea name="wish" rows="10" cols="45" maxlength="100" placeholder="Gifts!"></textarea>
        <br/>
        <button type="submit" id="submit-letter">Send</button>
      </form>
    </body>
</html>